<div class="img_sucess">

</div>

<div class="share">
		<a href="http://www.facebook.com/sharer.php?u=http://www.estruturasdeengenho.pt/webcookers/img/success_baby2.jpg" alt="" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
		<p>Share with your friends</p>
</div>
