<!--<div id ="timer"></div>
	<div id ="start">Start</div>
	<div id ="stop">Stop</div>
	<div id ="reset">Reset</div>
	<div id ="show">Show time</div>
-->

<div id="titulo_sugestao">
  <h1>Sugestões do dia</h1>
</div>

<div id="box_container">
	<% @recipes.each do |recipe| %>
    <div id="box_recipe">
      <div id="img_box_recipe">
        <%= image_tag(recipe.image) %>
      </div>
      <div>
        <%=recipe.total_time_minutes %>
      </div>
      <div>
        <%=recipe.title %>
      </div>
    </div>
  <% end %>
</div>
