body{
	background-image: url(/assets/pagina_template.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
}

a{
	text-decoration: none;
}

#menu{
	margin-left: 500px;
}

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #fff;
}

nav ul {
	background: #fff; 
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background-color: #fff;
}
	
nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #757575;
	text-decoration: none;
}

nav ul li a:hover {
  color: #757575;
  background-color: #fff;
}

#uvp_first_page{
	width: 300px;
	margin-left: 200px;
	margin-top: 50px;
	font-family: Helvetica;
	font-size: 35px;
	color: #FFF;
}

#sugestion{
	width: 875px;
	height: 450px;
	border-bottom: 1px solid #999;
	margin-left: 200px;
	margin-top: 20px;
	font-family: Helvetica;	
}

#box_recipe{
	width: 200px;
	height: 450px;
	float: left;
	margin-right: 16px;
}

#box_recipe_image{
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

#box_recipe_title{
	line-height: 30px;
	font-size: 18px;
	text-align: center;
}

#box_recipe_title a{
	color: #5B7C41;
}

#box_recipe_total_time{
	padding-left: 20px;
	font-weight: bold;
}

#footer{
	text-align: center;
}
