<!DOCTYPE html>
<html>
<head>
  <title>Cook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        
        <li><a href="#">Receitas</a>
          <ul>
            <li>
              <a href="#">Peixe</a>
              <ul>
                <li><a href="#">10 min</a></li>
                <li><a href="#">20 min</a></li>
                <li><a href="#">30 min</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Carne</a>
              <ul>
                <li><a href="#">10 min</a></li>
                <li><a href="#">20 min</a></li>
                <li><a href="#">30 min</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Saladas</a>
              <ul>
                <li><a href="#">10 min</a></li>
                <li><a href="#">20 min</a></li>
                <li><a href="#">30 min</a></li>
              </ul>  
            </li>
            <li>
              <a href="#">Sopas</a>
              <ul>
                <li><a href="#">10 min</a></li>
                <li><a href="#">20 min</a></li>
                <li><a href="#">30 min</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div id="page">
    <div id="container">
      <%= yield %>
    </div>

    <div id="footer">
      <p>
        <a href="http://www.facebook.com/webcookers">facebook.com/webcookers</a>
      </p>
      <div id="copy">
        Web Cookers © 2013 Política de Privacidade
      </div>

    </div>

  </div>
  
</body>
</html>
